@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-body: #f5f7fb;
    --bg-nav: #0a223b;
    --text-sidebar-color: #ced4da;
    --text-sidebar-link-color: #495057;
    --bs-font-sans-serif: "Inter", "Helvetica Neue", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.875rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--bg-body);
}

/* Envoltorio */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    background-color: #f5f7f9;
}

/* Nav Vertical */
.sidebar,
.sidebar-content {
    background-color: var(--bg-nav);
}

.sidebar {
    direction: ltr;
    max-width: 260px;
    min-width: 260px;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar-brand {
    color: #f8f9fa;
    display: block;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 1.15rem 1.5rem;
    text-decoration: none;
}

.sidebar-brand:hover {
    color: #f8f9fa;
}

.sidebar-brand:focus {
    outline: 0;
}

.sidebar-title {
    font-size: 30px;
}

/* Perfil */

.sidebar-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--text-sidebar-color);
}

.sidebar-photo {
    border-radius: 50%;
}

.sidebar-name {
    margin: 0;
}

.sidebar-role {
    font-size: 14px;
    font-weight: 300;
}

/* / Perfil */

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-header {
    background: transparent;
    color: #ced4da;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-link {
    font-size: 14px;
}

.sidebar-link span {
    padding-left: 10px;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left-color: #3b7ddd;
    color: #e9ecef;
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active>.sidebar-link i,
.sidebar-item.active>.sidebar-link svg {
    color: #e9ecef;
}

.sidebar-link,
a.sidebar-link {
    border-left: 3px solid transparent;
    color: rgba(233, 236, 239, .5);
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: .625rem 1.625rem;
    position: relative;
    text-decoration: none;
    transition: background .1s ease-in-out;
}

.sidebar-link i,
.sidebar-link svg,
a.sidebar-link i,
a.sidebar-link svg {
    color: rgba(233, 236, 239, .5);
    margin-right: .75rem;
}

.sidebar-link:focus {
    outline: 0;
}

.sidebar-link:hover {
    background: #222e3c;
    border-left-color: transparent;
}

.sidebar-link:hover,
.sidebar-link:hover i,
.sidebar-link:hover svg {
    color: rgba(233, 236, 239, .75)
}
/* / Nav Vertical */

.align-middle {
    vertical-align: bottom !important;
}

.sidebar-item.active .sidebar-link:hover,
.sidebar-item.active>.sidebar-link {
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left-color: #3b7ddd;
    color: #e9ecef
}

.sidebar-item.active .sidebar-link:hover i,
.sidebar-item.active .sidebar-link:hover svg,
.sidebar-item.active>.sidebar-link i,
.sidebar-item.active>.sidebar-link svg {
    color: #e9ecef
}

/* Main */

.content {
    padding: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.summary-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
}

.content-table {
    background-color: white;
    height: 500px;
    padding: 15px;
}

.scroll-table {
    max-height: 100%;
    width: 100%;
    overflow: auto;
}

.content-data {
    height: 150px;
    background-color: white;
}

/* / Main */

