@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eff5f6;
    font-family: 'Poppins', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/* Envoltorio */
.wrapper {
    display: flex;
    min-width: 100%;
    min-height: 100vh;
}

/* Nav vertical */

/* .sidebar-toggle {
    margin-left: -260px;
} */

.sidebar {
    width: 260px;
    min-height: 100vh;
    background: #0a223b;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 100;
}

.sidebar-brand {
    color: #f8f9fa;
    display: block;
    font-size: 1.15rem;
    font-weight: 600;
    padding: 1.15rem 1.5rem;
    text-decoration: none;
}

.sidebar-brand:hover {
    color: #abd5ff;
}

.sidebar-title {
    font-size: 25px;
}

.sidebar-nav {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar-header {
    background: transparent;
    color: #ced4da;
    font-size: .75rem;
    padding: .5rem 1.5rem;
    display: flex;
    align-items: center;
}

.sidebar #leftside-navigation ul,
.sidebar #leftside-navigation ul ul {
    margin: -2px 0 0;
    padding: 0;
}

.sidebar #leftside-navigation ul li {
    list-style-type: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar #leftside-navigation ul li.active>a {
    background: linear-gradient(90deg, rgba(59, 125, 221, .1), rgba(59, 125, 221, .088) 50%, transparent);
    border-left-color: #3b7ddd;
    color: #e9ecef
}

.sidebar #leftside-navigation ul li.active ul {
    display: block;
}

.sidebar #leftside-navigation ul li a {
    color: rgba(233, 236, 239, .5);
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 18px 0 18px 25px;
    font-size: 14px;
    outline: 0;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    -ms-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.sidebar #leftside-navigation ul li a:hover {
    color: #abd5ff;
    background: #317de8;
}

.sidebar #leftside-navigation ul li a span {
    display: inline-block;
}

.sidebar #leftside-navigation ul li a i .fa-angle-left,
.sidebar #leftside-navigation ul li a i .fa-angle-right {
    padding-top: 3px;
}

.sidebar #leftside-navigation ul ul {
    display: none;
}

.sidebar #leftside-navigation ul ul li {
    background-color: #092a4e;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.sidebar #leftside-navigation ul ul li a {
    font-size: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #aeb2b7;
}

.content {
    /* margin-left: 300px;
    margin-right: 40px; */
    margin: 20px;
    width: 100%;
}

.btn-salir {
    width: 100%;
    text-align: start;
    background: #0a223b;
    color: rgba(233, 236, 239, .5);
    font-size: 14px;
    font-weight: 500;
    padding: 18px 0 18px 25px;
    border: none;
    cursor: pointer;
    transition: all 200ms ease-in;
}

.btn-salir:hover {
    background: #317de8;
    color: #abd5ff
}
