<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SvVenta</servlet-name>
        <servlet-class>Controller.SvVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvLogin</servlet-name>
        <servlet-class>Controller.SvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controller.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvMain</servlet-name>
        <servlet-class>Controller.SvMain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvServicio</servlet-name>
        <servlet-class>Controller.SvServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SvRutas</servlet-name>
        <servlet-class>Controller.SvRutas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvVenta</servlet-name>
        <url-pattern>/SvVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvLogin</servlet-name>
        <url-pattern>/SvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvMain</servlet-name>
        <url-pattern>/SvMain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvServicio</servlet-name>
        <url-pattern>/SvServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SvRutas</servlet-name>
        <url-pattern>/SvRutas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
